@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body,
	html {
		height: 100%;
		/* background: linear-gradient( */
		/* 		180deg, */
		/* 		rgba(0, 0, 0, 1) 7%, */
		/* 		rgba(0, 0, 0, 0.6) 97% */
		/* 	) */
		/* 	no-repeat; */
    background: #1B2430;
		font-family: "Source Sans Pro";
		overflow: auto;
		overflow-x: hidden;
	}
	* {
		margin: 0;
		padding: 0;
	}
}

@layer components {
	#__next {
		height: 100%;
		max-width: 1536px;
		margin: 0 auto;
	}
	.noScroll {
		overflow: auto;
		scrollbar-width: thin;
		-webkit-scrollbar-width: none;
	}
	.noScroll::-webkit-scrollbar {
		display: none;
	}
}
